<footer>
    <div class="container text-center">
        <p>&copy; <span data-i18n="footer">Lê Xuân Sinh. Mọi quyền được bảo lưu.</span></p>
        <div class="footer-socials">
            <a href="https://www.facebook.com/sinhledev" target="_blank" rel="noopener noreferrer"><i
                    class="ph ph-facebook-logo"></i></a>
            <a href="https://zalo.me/0973432518" target="_blank" rel="noopener noreferrer">
                <i class="ph ph-chat-circle-text" style="font-size: 1.5rem;"></i>
            </a>
            <a href="https://t.me/sinhle3008" target="_blank" rel="noopener noreferrer">
                <i class="ph ph-telegram-logo" style="font-size: 1.5rem;"></i>
            </a>
        </div>
    </div>
</footer>